<!DOCTYPE html>
<html>
<head>
	<title>UI control</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap_sketchy.min.css">
</head>
<body>

	<div class="container">
		<div style="margin: 0 auto">
			<h4>click this mfucking button to open:</h4>
			<button class="btn btn-outline-danger doorActionBtn">Open Door</button>
		</div>
	</div>

	<script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/app.js"></script>
</body>
</html>